nav {
  background-color: #2b3e50;
  color: #fff;
  position: relative;
  height: 50px;
  display: flex;
  justify-content: space-evenly; /* Center the contents horizontally */
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex; /* Use flexbox for the list items */
  flex-wrap: wrap;
  justify-content: space-between;
}

nav li {
  margin: 0 20px;
  /*flex-basis: calc(33.33% - 20px);
	max-width: calc(33.33% - 20px);*/
}

nav a {
  display: block;
  color: #ffffff;
  text-decoration: none;
  padding: 15px;
  transition: background-color 0.3s ease;
}

nav a:hover {
  background-color: #34495e;
}

footer {
	background-color: #2b3e50;
	color: #fff;
	padding: 20px;
	text-align: center;
}



/*
nav a:hover {
	background-color: #fff; /* White 
	color: #2b3e50; /* Dark blue 
}
*/

/* CSS code for the menu bar 

.menu-bar {
  background-color: #2b3e50; /* Dark blue 
  color: #fff; /* Light text color 
  position: relative;
  height: 50px;
}

.menu-bar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.menu-bar li {
  margin: 0 10px;
}

.menu-bar a {
  color: #fff; /* Light text color 
  text-decoration: none;
  padding: 10px;
  display: block;
}

.menu-bar a:hover {
  background-color: #fff; /* White 
  color: #2b3e50; /* Dark blue 
}

/* Media query for small screens 
@media only screen and (max-width: 600px) {
  .menu-bar ul {
    flex-direction: column;
    align-items: center;
  }

  .menu-bar li {
    margin: 10px 0;
  }
}
*/