.menu-bar {
  background-color: #2b3e50;
  color: #fff;
  position: relative;
}

nav {
  height: 50px;
  display: flex;
  justify-content: space-evenly; /* Center the contents horizontally */
}

.menu-bar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex; /* Use flexbox for the list items */
  flex-wrap: wrap; /*?maybe get rid of this*/
  justify-content: space-between;
}

.menu-bar li {
  margin: 0 20px; /*?10 px*/
  position: relative;
  /*flex-basis: calc(25% - 20px);
	max-width: calc(25% - 20px);*/
}

.menu-bar a {
  display: block;
  color: #ffffff;
  text-decoration: none;
  padding: 15px; /*?10px*/
  transition: background-color 0.3s ease;
}

nav a:hover {
  background-color: #34495e;
  color:#fff;
}

/* Dropdown menu styles */
.menu-bar .dropdown ul {
  display: none;
  position: absolute;
  top: 100%;
  background-color: #2b3e50; 
  padding: 10px;
  margin: 0;
  border: 1px solid #2b3e50;  /* add secondary color here*/
  z-index: 1;
}

.menu-bar .dropdown:hover ul {
  display: block;
}

.menu-bar .dropdown ul li {
  margin: 0;
  padding: 0;
}

.menu-bar .dropdown ul li a {
  color: #2b3e50; /* Dark blue */
  text-decoration: none;
  padding: 5px 10px;
  display: block;
  color: #fff;
  transition: background-color 0.3s ease;
}

.menu-bar .dropdown ul li a:hover {
  background-color: #34495e; /* Dark blue */
}

blockquote {
  font-style: italic;
  font-size: medium;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 50px;
  padding-left: 15px;
  border-left: 5px solid #385169;
  display:inline-flex;
} 

blockquote span {
  margin-top:-10px;
  margin-bottom:-10px;
}

footer {
	background-color: #2b3e50;
	color: #fff;
	padding: 20px;
	text-align: center;
}
